<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CISSG</title>
    <link rel="icon" type="image/png" href="../../static/media/images/cissg logo png.png">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/client_css/education.css">
</head>

<body>
    {% include 'activities/adminnav.html' %}
    <div class="d-flex">


        <!-- bodyyy -->



        <!-- MODAL -->
        <!-- TABLE 1 MODAL -->
        <div class="modal fade" id="modal1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3" id="exampleModalToggleLabel">Educational Attainment (Service Related: A. Coast Guard)</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'activities:coastguard_input' %} " method="POST">
                            {% csrf_token %}

                            <div class="row g-3 ">

                                <div class="inside ">
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Course</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Course" name="course" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Authority</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Authority" name="authority" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">School / Institution</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="School / Institution" name="school" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Period of Attendance (From - To)</label>

                                        <div style="display: flex;">
                                            <input type="date" class="form-control form-control-lg" style="width: 100%;" name="start_date">
                                            <br> &nbsp;
                                            <input type="date" class="form-control form-control-lg" style="width: 100%;" name="end_date">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Standing / Honors / Remarks" name="standing" required>
                                    </div>
                                    <br>
                                    <button type="submit" style="float: right;" class="btn btn-success btn-lg">Save</button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>


        <!-- TABLE 2 MODAL  -->

        <div class="modal fade" id="modal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3" id="exampleModalToggleLabel">Educational Attainment (A.1. Others: Courses / Seminars: (Local))</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'activities:cglocal_input' %} " method="POST">
                            {% csrf_token %}

                            <div class="row g-3 ">

                                <div class="inside ">
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Course</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Course" name="course" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Authority</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Authority" name="authority" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">School / Institution</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="School / Institution" name="school" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Period of Attendance (From - To)</label>

                                        <div style="display: flex;">
                                            <input type="date" class="form-control form-control-lg" style="width: 100%;" name="start_date">
                                            <br> &nbsp;
                                            <input type="date" class="form-control form-control-lg" style="width: 100%;" name="end_date">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Standing / Honors / Remarks" name="standing" required>
                                    </div>
                                    <br>
                                    <button type="submit" style="float: right;" class="btn btn-success btn-lg">Save</button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>


        <!-- MODAL FOR TABLE 3 -->

        <div class="modal fade" id="modal3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3" id="exampleModalToggleLabel">Educational Attainment (A.2. Others: Courses / Seminars: (Foreign))</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'activities:cgforeign_input' %} " method="POST">
                            {% csrf_token %}

                            <div class="row g-3 ">

                                <div class="inside ">
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Course</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Course" name="course" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Authority</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Authority" name="authority" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">School / Institution</label>
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="School / Institution" name="school" required>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <label for="" style="font-weight: bolder;">Period of Attendance (From - To)</label>

                                        <div style="display: flex;">
                                            <input type="date" class="form-control form-control-lg" style="width: 100%;" name="start_date">
                                            <br> &nbsp;
                                            <input type="date" class="form-control form-control-lg" style="width: 100%;" name="end_date">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Standing / Honors / Remarks" name="standing" required>
                                    </div>
                                    <br>
                                    <button type="submit" style="float: right;" class="btn btn-success btn-lg">Save</button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- END OF MODAL -->
        <!-- 
        OTHER TRAININGS MODAL -->




        <!-- END OF OTHER TRAINING SMODAL -->


        <!-- vocational modal -->




        <!-- 
        end of vocational modal -->

        <div class="main">
            <div class="filing">
                <a href="{% url 'activities:dashboard' %}">Dashboard</a>
                <p>&nbsp;/&nbsp;</p>
                <a href="{% url 'activities:education' %}">Education (Civilian)</a>
                <p>&nbsp;/&nbsp;</p>
                <a href="{% url 'activities:education2' %}" style="color: #0556cf!important;">Education (PCG)</a>
                <p>&nbsp;/&nbsp;</p>

            </div>
            <hr style="height: 5px; background-color: rgb(0, 0, 0); border: none; color:black;">




            <main class="p-3">
                <div class="container-fluid">
                    <div class="mb-3 text-left">
                        <h1><i class="lni lni-user"></i>
                            <span>Profile</span></h1>
                    </div>

                    <div class="profile" style="padding: 20px;">

                        <div class="left">
                            <div class="row g-3">
                                <h5>E. EDUCATIONAL ATTAINMENT <br>
                                    <p style="font-weight: 200;">&nbsp;&nbsp; 2. Service Related: Entry shall be from Present to Past</p>

                                </h5>

                                <h5>
                                    <p style="font-weight: 200; margin-left:50px;">A. Coast Guard</p>
                                </h5>
                                <br>
                                <br>
                                <div class="inside">
                                    {% if coastguard %}


                                    <table id="dynamicTable1" class="table table-bordered table-hover">
                                        <thead class="table-primary thead1">
                                            <tr style="text-align: center !important;">
                                                <th>COURSE</th>
                                                <th>Authority</th>
                                                <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                <th>PERIOD OF ATTENDANCE (From – To)
                                                </th>
                                                <th>STANDING / HONORS / REMARKS</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for s in coastguard %}
                                            <form action="{% url 'activities:update_coastguard' s.id %} " method="POST">
                                                {% csrf_token %}
                                                <tr>
                                                    <td> <input type="text" name="course" class="form-control" style="border: none; outline:none;" value="{{s.course}}"></td>

                                                    <!-- <input type="text" name="course" value="{{ s.course }}" class="form-control" style="border: none; outline:none;"> -->

                                                    <td>
                                                        <input type="text" name="authority" class="form-control" style="border: none; outline:none;" value="{{s.authority}}">
                                                    </td>

                                                    <td> <input type="text" name="school" class="form-control" style="border: none; outline:none;" value="{{s.school}}">
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <div style="display: flex; ">
                                                            <input type="date" name="start_date" value="{{ s.start_date }}" class="form-control"> <br> &nbsp;
                                                            <input type="date" name="end_date" value="{{ s.end_date }}" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text " name="standing" value="{{ s.standing }}" class="form-control" style="border: none; outline:none; ">
                                                    </td>
                                                    <td style="display: flex; justify-content: center; align-items: flex-start; ">
                                                        <button type="submit" class="btn btn-success tbtn">Update</button>
                                                    </td>

                                                </tr>



                                            </form>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}

                                    <table id="dynamicTable1" class="table table-bordered table-hover ">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>COURSE</th>
                                                <th>Authority</th>
                                                <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                <th>PERIOD OF ATTENDANCE (From – To)
                                                </th>
                                                <th>STANDING / HONORS / REMARKS</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <td colspan="3" align="center">No data available</td>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <button data-bs-target="#modal1" data-bs-toggle="modal" class="btn btn-primary" id="add">Add Coast Guard Record +</button>

                                </div>

                                <br> &nbsp;
                                <br>
                                <!-- END OF COAST GUARD -->
                                <hr>
                                <!-- START OF CG LOCALLLL -->
                                <h5>
                                    <p style="font-weight: 200; margin-left:50px;">A.1. Others: Courses / Seminars: (Local)</p>
                                </h5>
                                <br>
                                <br>
                                <div class="inside ">
                                    {% if local%}


                                    <table id="dynamicTable1" class="table table-bordered table-hover">
                                        <thead class="table-primary">
                                            <tr style="text-align: center !important;">
                                                <th>COURSE</th>
                                                <th>AUTHORITY</th>
                                                <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                <th>PERIOD OF ATTENDANCE (From – To)
                                                </th>
                                                <th>STANDING / HONORS / REMARKS</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for s in local %}
                                            <form action="{% url 'activities:update_cglocal' s.id %}" method="POST">
                                                {% csrf_token %}
                                                <tr>
                                                    <td> <input type="text" name="course" class="form-control" style="border: none; outline:none;" value="{{s.course}}">

                                                    </td>

                                                    <td>
                                                        <input type="text" name="authority" class="form-control" style="border: none; outline:none;" value="{{s.authority}}">
                                                    </td>

                                                    <td> <input type="text" name="school" class="form-control" style="border: none; outline:none;" value="{{s.school}}">
                                                    </td>
                                                    <td style="display: flex;">
                                                        <input type="date" name="start_date" value="{{ s.start_date }}" class="form-control"><br> &nbsp;

                                                        <input type="date" name="end_date" value="{{ s.end_date }}" class="form-control ">
                                                    </td>
                                                    <td>
                                                        <input type="text " name="standing" value="{{ s.standing }}" class="form-control" style="border: none; outline:none; ">
                                                    </td>
                                                    <td style="display: flex; ">

                                                        <button type="submit " class="btn btn-success tbtn ">Update</button>
                                                    </td>

                                                </tr>



                                            </form>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}

                                    <table id="dynamicTable1" class="table table-bordered table-hover ">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>COURSE</th>
                                                <th>AUTHORITY</th>
                                                <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                <th>PERIOD OF ATTENDANCE (From – To)
                                                </th>
                                                <th>STANDING / HONORS / REMARKS</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <td colspan="3" align="center ">No data available</td>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <button data-bs-target="#modal2" data-bs-toggle="modal" class="btn btn-primary" id="add">A.1.Others: Courses/Seminars: (Local) +</button>

                                </div>

                                <br> &nbsp;
                                <br>

                                <hr>
                                <!-- start of  other traininghs -->

                                <h5>
                                    <p style="font-weight: 200; margin-left:50px;">A.2. Others: Courses / Seminars: (Foreign)</p>
                                </h5>
                                <br>
                                <br>
                                <div class="inside ">
                                    {% if foreign %}


                                    <table id="dynamicTable1" class="table table-bordered table-hover">
                                        <thead class="table-primary">
                                            <tr style="text-align: center !important;">
                                                <th>COURSE</th>
                                                <th>AUTHORITY</th>
                                                <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                <th>PERIOD OF ATTENDANCE (From – To)
                                                </th>
                                                <th>STANDING / HONORS / REMARKS</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for s in foreign %}
                                            <form action="{% url 'activities:update_cgforeign' s.id %}" method="POST">
                                                {% csrf_token %}
                                                <tr>
                                                    <td> <input type="text" name="course" class="form-control" style="border: none; outline:none;" value="{{s.course}}">

                                                        <!-- <input type="text" name="course" value="{{ s.course }}" class="form-control" style="border: none; outline:none;"> -->
                                                    </td>

                                                    <td>
                                                        <input type="text" name="authority" class="form-control" style="border: none; outline:none;" value="{{s.authority}}">
                                                    </td>
                                                    <td> <input type="text" name="school" class="form-control" style="border: none; outline:none;" value="{{s.school}}">
                                                    </td>
                                                    <td style="display: flex;">
                                                        <input type="date" name="start_date" value="{{ s.start_date }}" class="form-control"><br> &nbsp;

                                                        <input type="date" name="end_date" value="{{ s.end_date }}" class="form-control ">
                                                    </td>
                                                    <td>
                                                        <input type="text " name="standing" value="{{ s.standing }}" class="form-control" style="border: none; outline:none; ">
                                                    </td>
                                                    <td style="display: flex; ">

                                                        <button type="submit " class="btn btn-success tbtn ">Update</button>
                                                    </td>

                                                </tr>



                                            </form>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}

                                    <table id="dynamicTable1" class="table table-bordered table-hover ">
                                        <thead class="table-primary">
                                            <tr>
                                                <th>COURSE</th>
                                                <th>AUTHORITY</th>
                                                <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                <th>PERIOD OF ATTENDANCE (From – To)
                                                </th>
                                                <th>STANDING / HONORS / REMARKS</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <td colspan="3" align="center ">No data available</td>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <button data-bs-target="#modal3" data-bs-toggle="modal" class="btn btn-primary" id="add">A.2.Others: Courses/Seminars:(Foreign) +</button>

                                </div>


                                <!-- end of other trainings -->
                            </div>
                        </div>


                        <!-- END OF VOCATIONALLLLLLLLLLLLL -->






                        <!-- START OF OTHER TRAININGS -->
                        <br>
                        <br>


                        <hr style="height: 3px; background-color: rgb(0, 0, 0); border: none; color:black;">

                        <div class="save1" style="width: 100%;">

                            <a class="next btn-primary" href="{% url 'activities:education3' %}"> Next Step &nbsp;
                                <img src="../../static/media/images/arrow.png" alt="Icon" class="me-2" width="50">
                            </a>
                        </div>

                    </div>



                </div>


            </main>



        </div>

    </div>



    <!-- break -->
    <script>
        const toggler = document.querySelector(".toggler-btn ");
        toggler.addEventListener("click ", function() {
            document.querySelector("#s idebar ").classList.toggle("collapsed ");
        });
    </script>
    <!-- 
    delete function  -->


    <!-- end of delete -->
    <script src="script.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz " crossorigin="anonymous "></script>

</body>

</html>