<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CISSG</title>
    <link rel="icon" type="image/png" href="../../static/media/images/cissg logo png.png">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/client_css/education.css">

    <!-- bootstrap icon -->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <div class="wrapper">
        {% include 'activities/adminnav.html' %}
        <div class="d-flex">

            <!-- bodyyy -->



            <!-- MODAL -->
            <!-- TABLE 1 MODAL -->
            <div class="modal fade" id="modal1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-3" id="exampleModalToggleLabel">Educational Attainment (Civilian: Academic)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'activities:academic_input' %} " method="POST">
                                {% csrf_token %}

                                <div class="row g-3 ">

                                    <div class="inside ">
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">Course</label>
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Course" name="course" required>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">School / Institution</label>
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="School / Institution" name="school" required>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">Period of Attendance (From - To)</label>

                                            <div style="display: flex;">
                                                <input type="date" class="form-control form-control-lg" style="width: 100%;" name="start_date">
                                                <br> &nbsp;
                                                <input type="date" class="form-control form-control-lg" style="width: 100%;" name="end_date">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Standing / Honors / Remarks" name="standing" required>
                                        </div>
                                        <br>
                                        <button type="submit" style="float: right;" class="btn btn-success btn-lg">Save</button>
                                    </div>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <!-- END OF MODAL -->
            <!-- 
        OTHER TRAININGS MODAL -->



            <div class="modal fade" id="modal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-3" id="exampleModalToggleLabel">Educational Attainment (Civilian: Other Trainings / Workshops)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'activities:other_input' %} " method="POST">
                                {% csrf_token %}

                                <div class="row g-3 ">

                                    <div class="inside ">
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">Course</label>
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Course" name="course" required>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">School / Institution</label>
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="School / Institution" name="school" required>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">Period of Attendance (From - To)</label>

                                            <div style="display: flex;">
                                                <input type="date" class="form-control form-control-lg" style="width: 100%;" name="start_date">
                                                <br> &nbsp;
                                                <input type="date" class="form-control form-control-lg" style="width: 100%;" name="end_date">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Standing / Honors / Remarks" name="standing" required>
                                        </div>
                                        <br>
                                        <button type="submit" style="float: right;" class="btn btn-success btn-lg">Save</button>
                                    </div>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- END OF OTHER TRAINING SMODAL -->


            <!-- vocational modal -->



            <div class="modal fade" id="modal3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-3" id="exampleModalToggleLabel">Educational Attainment (Civilian: Vocational)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'activities:vocational_input' %} " method="POST">
                                {% csrf_token %}

                                <div class="row g-3 ">

                                    <div class="inside ">
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">Course</label>
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Course" name="course" required>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">School / Institution</label>
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="School / Institution" name="school" required>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <label for="" style="font-weight: bolder;">Period of Attendance (From - To)</label>

                                            <div style="display: flex;">
                                                <input type="date" class="form-control form-control-lg" style="width: 100%;" name="start_date">
                                                <br> &nbsp;
                                                <input type="date" class="form-control form-control-lg" style="width: 100%;" name="end_date">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <input type="text" class="form-control form-control-lg" style="width: 100%;" placeholder="Standing / Honors / Remarks" name="standing" required>
                                        </div>
                                        <br>
                                        <button type="submit" style="float: right;" class="btn btn-success btn-lg">Save</button>
                                    </div>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 
        end of vocational modal -->

            <!-- MODAL FOR Edit -->
            <!-- Edit Modal -->
            <!-- TABLE 1 -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form method="POST" id="editForm">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Academic Record</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="id" id="edit-id">
                                <div class="mb-3">
                                    <label for="edit-course" class="form-label">Course</label>
                                    <input type="text" class="form-control" name="course" id="edit-course">
                                </div>
                                <div class="mb-3">
                                    <label for="edit-school" class="form-label">School</label>
                                    <input type="text" class="form-control" name="school" id="edit-school">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start Date</label>
                                    <input type="date" class="form-control" name="start_date" id="edit-start">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">End Date</label>
                                    <input type="date" class="form-control" name="end_date" id="edit-end">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Standing</label>
                                    <input type="text" class="form-control" name="standing" id="edit-standing">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- TABLE 2 -->
            <div class="modal fade" id="editModal2" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form method="POST" id="editForm2">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Vocational Record</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="id" id="edit-id2">
                                <div class="mb-3">
                                    <label for="edit-course" class="form-label">Course</label>
                                    <input type="text" class="form-control" name="course" id="edit-course2">
                                </div>
                                <div class="mb-3">
                                    <label for="edit-school" class="form-label">School</label>
                                    <input type="text" class="form-control" name="school" id="edit-school2">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start Date</label>
                                    <input type="date" class="form-control" name="start_date" id="edit-start2">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">End Date</label>
                                    <input type="date" class="form-control" name="end_date" id="edit-end2">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Standing</label>
                                    <input type="text" class="form-control" name="standing" id="edit-standing2">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- TABLE 3 -->

            <div class="modal fade" id="editModal3" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form method="POST" id="editForm3">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Other Record</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="id" id="edit-id3">
                                <div class="mb-3">
                                    <label for="edit-course" class="form-label">Course</label>
                                    <input type="text" class="form-control" name="course" id="edit-course3">
                                </div>
                                <div class="mb-3">
                                    <label for="edit-school" class="form-label">School</label>
                                    <input type="text" class="form-control" name="school" id="edit-school3">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start Date</label>
                                    <input type="date" class="form-control" name="start_date" id="edit-start3">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">End Date</label>
                                    <input type="date" class="form-control" name="end_date" id="edit-end3">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Standing</label>
                                    <input type="text" class="form-control" name="standing" id="edit-standing3">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- END OF MODAL EDIT -->

            <div class="main">

                <div class="filing">
                    <h1 id="hello">
                        <img src="../../static/media/images/cissg logo png.png" alt="Logo" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 5px;"> CGETDC Installations and Service Support Group
                    </h1>

                </div>
                <hr style="height: 5px; background-color: rgb(0, 0, 0); border: none; color:black;">



                <!-- main body -->

                <main class="p-3">
                    <div class="container-fluid">
                        <div class="mb-3 text-left">
                            <h1><i class="lni lni-user"></i>
                                <span>Profile</span></h1>
                        </div>

                        <div class="profile" style="padding: 20px;">

                            <div class="left">
                                <div class="row g-3">
                                    <h5 style="font-weight: bolder;">E. EDUCATIONAL ATTAINMENT <br>
                                        <p style="font-weight: 200;">&nbsp;&nbsp; 1. Civilian: Entry shall be from Present to Past</p>

                                    </h5>

                                    <h5>
                                        <p style="font-weight: 200; margin-left:50px;">A. Academic</p>
                                    </h5>
                                    <br>

                                    <div class="inside">
                                        {% if acad %}

                                        <div class="table-responsive-sm">


                                            <table id="dynamicTable1" class="table table-bordered table-hover">
                                                <thead class="table-dark thead1">
                                                    <tr style="text-align: left !important;">
                                                        <th>COURSE</th>
                                                        <th>NAME OF SCHOOL<br>INSTITUTION AND LOCATION</th>
                                                        <th>PERIOD OF ATTENDANCE (From – To)</th>
                                                        <th>STANDING / HONORS / REMARKS</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for s in acad %}
                                                    <tr>
                                                        <td>{{ s.course }}</td>
                                                        <td>{{ s.school }}</td>
                                                        <td>{{ s.start_date }} to {{ s.end_date }}</td>
                                                        <td>{{ s.standing }}</td>
                                                        <td style="text-align: center;">
                                                            <!-- Pencil icon button to open modal with data -->
                                                            <button type="button" class="btn btn-sm btn-primary editBtn" data-bs-toggle="modal" data-bs-target="#editModal" data-id="{{ s.id }}" data-course="{{ s.course }}" data-school="{{ s.school }}" data-start="{{ s.start_date }}" data-end="{{ s.end_date }}"
                                                                data-standing="{{ s.standing }}">
                                                                <i class="bi bi-pencil-square"></i>
                                                            </button>

                                                            <!-- Delete form -->
                                                            <form action="{% url 'activities:delete_academic' s.id %}" method="POST" style="display: inline;">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">
                                                                    <i class="bi bi-trash"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                        {% else %}

                                        <table id="dynamicTable1" class="table table-bordered table-hover ">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>COURSE</th>
                                                    <th>NAME OF SCHOOL/INSTITUTION AND LOCATION</th>
                                                    <th>PERIOD OF ATTENDANCE (From – To)
                                                    </th>
                                                    <th>STANDING / HONORS / REMARKS</th>
                                                    <th>ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="5" style="text-align: center;">No Data Available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                        <button data-bs-target="#modal1" data-bs-toggle="modal" class="btn btn-primary" id="add">Add Academic Record +</button>

                                    </div>

                                    <br> &nbsp;
                                    <br>
                                    <!-- END OF ACADEMIIIIIIIIIIIIIIIIIIIIIIIIIC -->
                                    <hr>
                                    <!-- START OF VOCATIONALLLLLLLLLLLLL -->
                                    <h5>
                                        <p style="font-weight: 200; margin-left:50px;">B. Vocational</p>
                                    </h5>
                                    <br>
                                    <br>
                                    <div class="inside ">
                                        {% if vocation %}
                                        <table id="dynamicTable1" class="table table-bordered table-hover">
                                            <thead class="table-dark">
                                                <tr style="text-align: center !important;">
                                                    <th>COURSE</th>
                                                    <th>NAME OF SCHOOL INSTITUTION AND LOCATION</th>
                                                    <th>PERIOD OF ATTENDANCE (From – To)
                                                    </th>
                                                    <th>STANDING / HONORS / REMARKS</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for s in vocation %}
                                                <tr>
                                                    <td>{{ s.course }}</td>
                                                    <td>{{ s.school }}</td>
                                                    <td>{{ s.start_date }} to {{ s.end_date }}</td>
                                                    <td>{{ s.standing }}</td>
                                                    <td style="text-align: center;">
                                                        <!-- Pencil icon button to open modal with data -->
                                                        <button type="button" class="btn btn-sm btn-primary editBtn" data-bs-toggle="modal" data-bs-target="#editModal2" data-id="{{ s.id }}" data-course="{{ s.course }}" data-school="{{ s.school }}" data-start="{{ s.start_date }}" data-end="{{ s.end_date }}"
                                                            data-standing="{{ s.standing }}">
                                                                <i class="bi bi-pencil-square"></i>
                                                            </button>

                                                        <!-- Delete form -->
                                                        <form action="{% url 'activities:delete_vocational' s.id %}" method="POST" style="display: inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">
                                                                    <i class="bi bi-trash"></i>
                                                                </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}

                                        <table id="dynamicTable1" class="table table-bordered table-hover ">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>COURSE</th>
                                                    <th>NAME OF SCHOOL INSTITUTION AND LOCATION</th>
                                                    <th>PERIOD OF ATTENDANCE (From – To)
                                                    </th>
                                                    <th>STANDING / HONORS / REMARKS</th>
                                                    <th>ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td colspan="5" style="text-align: center;">No Data Available</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                        <button data-bs-target="#modal3" data-bs-toggle="modal" class="btn btn-primary" id="add">Add Vocational Record +</button>

                                    </div>

                                    <br> &nbsp;
                                    <br>

                                    <hr>
                                    <!-- start of  other traininghs -->

                                    <h5>
                                        <p style="font-weight: 200; margin-left:50px;">C. Other Trainings (Seminars/Workshops)</p>
                                    </h5>
                                    <br>
                                    <br>
                                    <div class="inside ">
                                        {% if other %}


                                        <table id="dynamicTable1" class="table table-bordered table-hover">
                                            <thead class="table-primary">
                                                <tr style="text-align: center !important;">
                                                    <th>COURSE</th>
                                                    <th>NAME OF SCHOOL INSTITUTION AND LOCATION</th>
                                                    <th>PERIOD OF ATTENDANCE (From – To)
                                                    </th>
                                                    <th>STANDING / HONORS / REMARKS</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for s in other %}

                                                <tr>
                                                    <td>{{ s.course }}</td>
                                                    <td>{{ s.school }}</td>
                                                    <td>{{ s.start_date }} to {{ s.end_date }}</td>
                                                    <td>{{ s.standing }}</td>
                                                    <td style="text-align: center;">
                                                        <!-- Pencil icon button to open modal with data -->
                                                        <button type="button" class="btn btn-sm btn-primary editBtn" data-bs-toggle="modal" data-bs-target="#editModal3" data-id="{{ s.id }}" data-course="{{ s.course }}" data-school="{{ s.school }}" data-start="{{ s.start_date }}" data-end="{{ s.end_date }}"
                                                            data-standing="{{ s.standing }}">
                                                                <i class="bi bi-pencil-square"></i>
                                                            </button>

                                                        <!-- Delete form -->
                                                        <form action="{% url 'activities:delete_other' s.id %}" method="POST" style="display: inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">
                                                                    <i class="bi bi-trash"></i>
                                                                </button>
                                                        </form>
                                                    </td>
                                                </tr>




                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}

                                        <table id="dynamicTable1" class="table table-bordered table-hover ">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>COURSE</th>
                                                    <th>NAME OF SCHOOL INSTITUTION AND LOCATION</th>
                                                    <th>PERIOD OF ATTENDANCE (From – To)
                                                    </th>
                                                    <th>STANDING / HONORS / REMARKS</th>
                                                    <th>ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <tr>
                                                        <td colspan="5" style="text-align: center;">No Data Available</td>
                                                    </tr>

                                                </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                        <button data-bs-target="#modal2" data-bs-toggle="modal" class="btn btn-primary" id="add">Add Other Training Record +</button>

                                    </div>


                                    <!-- end of other trainings -->
                                </div>
                            </div>


                            <!-- END OF VOCATIONALLLLLLLLLLLLL -->






                            <!-- START OF OTHER TRAININGS -->
                            <br>
                            <br>

                            <hr style="height: 3px; background-color: rgb(0, 0, 0); border: none; color:black;">

                            <div class="save1" style="width: 100%;">

                                <a class="next btn-primary" href="{% url 'activities:education2' %}"> Next Step &nbsp;
                                <img src="../../static/media/images/arrow.png" alt="Icon" class="me-2" width="50">
                            </a>
                            </div>

                        </div>



                    </div>


                </main>



            </div>

        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const closeBtn = document.getElementById("close-sidebar");
            const wrapper = document.querySelector(".wrapper");

            closeBtn.addEventListener("click", function() {
                wrapper.classList.toggle("sidebar-closed");
            });
        });
    </script>


    <script>
        const toggler = document.querySelector(".toggler-btn ");
        toggler.addEventListener("click ", function() {
            document.querySelector("#sidebar ").classList.toggle("collapsed ");
        });
    </script>
    <!-- 
    delete function  -->


    <!-- end of delete -->

    <!-- MODAL EDITY -->

    <!-- TABLE 1 -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editModal = document.getElementById('editModal');

            editModal.addEventListener('show.bs.modal', function(event) {
                const button = event.relatedTarget;

                const id = button.getAttribute('data-id');
                const course = button.getAttribute('data-course');
                const school = button.getAttribute('data-school');
                const startDate = button.getAttribute('data-start');
                const endDate = button.getAttribute('data-end');
                const standing = button.getAttribute('data-standing');

                // Populate modal fields
                document.getElementById('edit-id').value = id;
                document.getElementById('edit-course').value = course;
                document.getElementById('edit-school').value = school;
                document.getElementById('edit-start').value = startDate;
                document.getElementById('edit-end').value = endDate;
                document.getElementById('edit-standing').value = standing;

                // Set the form action dynamically
                const form = document.getElementById('editForm');
                form.action = "{% url 'activities:update_table1' 0 %}".replace('0', id);
            });
        });
    </script>


    <!-- EO TABLE 1 -->

    <!-- TABLE 2 -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editModal2 = document.getElementById('editModal2');

            editModal2.addEventListener('show.bs.modal', function(event) {
                const button = event.relatedTarget;

                const id = button.getAttribute('data-id');
                const course = button.getAttribute('data-course');
                const school = button.getAttribute('data-school');
                const startDate = button.getAttribute('data-start');
                const endDate = button.getAttribute('data-end');
                const standing = button.getAttribute('data-standing');

                // Populate modal fields
                document.getElementById('edit-id2').value = id;
                document.getElementById('edit-course2').value = course;
                document.getElementById('edit-school2').value = school;
                document.getElementById('edit-start2').value = startDate;
                document.getElementById('edit-end2').value = endDate;
                document.getElementById('edit-standing2').value = standing;

                // Set the form action dynamically
                const form = document.getElementById('editForm2');
                form.action = "{% url 'activities:update_vocational' 0 %}".replace('0', id);
            });
        });
    </script>

    <!-- EO TABLE 2 -->
    <!-- 
    TABLE 3 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editModal3 = document.getElementById('editModal3');

            editModal3.addEventListener('show.bs.modal', function(event) {
                const button = event.relatedTarget;

                const id = button.getAttribute('data-id');
                const course = button.getAttribute('data-course');
                const school = button.getAttribute('data-school');
                const startDate = button.getAttribute('data-start');
                const endDate = button.getAttribute('data-end');
                const standing = button.getAttribute('data-standing');

                // Populate modal fields
                document.getElementById('edit-id3').value = id;
                document.getElementById('edit-course3').value = course;
                document.getElementById('edit-school3').value = school;
                document.getElementById('edit-start3').value = startDate;
                document.getElementById('edit-end3').value = endDate;
                document.getElementById('edit-standing3').value = standing;

                // Set the form action dynamically
                const form = document.getElementById('editForm3');
                form.action = "{% url 'activities:update_other' 0 %}".replace('0', id);
            });
        });
    </script>

    <!-- EO TABLE 3 -->





    <!-- END OF EDIT -->
    <script src="script.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz " crossorigin="anonymous "></script>

</body>

</html>