@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    display: flex !important;
    flex-direction: column !important;
}

h1 {
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.75rem;
    color: #000;
    font-weight: 1000;
}

.navbar {
    padding: 1.15rem 1.5rem;
    border-bottom: 2px dashed #b3a8a8;
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a {
    color: #FFF;
    font-weight: 800;
    font-size: 1.5rem;
}

.sidebar-header {
    color: #FFF;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    position: relative;
    transition: all 0.35s;
    display: block;
    font-size: 1.25rem;
}

a.sidebar-link:hover {
    background-color: #f9f6f630;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


/* Screen size less than 768px */

@media (max-width:768px) {
    .sidebar-toggle {
        margin-left: -264px;
    }
    #sidebar.collapsed {
        margin-left: 0;
    }
}

.profile {
    width: 100%;
    height: auto !important;
    background-color: #ffffff !important;
    border-radius: 5px;
    display: flex;
    justify-content: space-between !important;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
}

.profil23 {
    width: 99%;
    height: auto !important;
    background-color: #ffffff !important;
    border-radius: 5px;
    display: block;
    justify-content: space-between !important;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.profil23 .left2 {
    width: 100%;
    padding-right: 20px;
}

.profil23 .left2 .row {
    width: 100%;
    display: flex !important;
}

#dynamicTable23 {
    width: 100%;
    height: auto !important;
}

.profile .left {
    width: 100%;
    padding-right: 20px;
}

.profile .left .row {
    display: flex !important;
    color: rgb(0, 0, 0) !important;
}

.profile .left .row h5 {
    font-size: 20px !important;
}

.profile .left .row .inside {
    width: 100% !important;
    padding-left: 5%;
    color: black !important;
}

.profile .left .row .inside .inside2 {
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    color: black !important;
    margin-top: -20px !important;
    gap: 1rem;
}


/* .profile .left .row .inside .inside2 .insideleft,
.insideright {
    width: 45% !important;
    color: black !important;
    flex: 1;
} */

.profile .left .row .inside .inside2 .insideleft {
    width: 50% !important;
    color: black !important;
}

.profile .left .row .inside .inside2 #insideleft {
    width: 45% !important;
    color: black !important;
}

.profile .left .row .inside .inside2 .insideleft .mb-3 {
    width: 100% !important;
    justify-content: space-between !important;
    display: flex !important;
}

.profile .left .row .inside .inside2 .insideright .mb-3 {
    width: 100% !important;
    justify-content: space-between !important;
    display: flex !important;
}


/* hgfhg */

.profile .left .row .inside .form-control {
    border: rgb(150, 150, 150) 1px solid !important;
}

.profile .left .row .inside .col {
    width: 10% !important;
}

.profile .right .row .inside .col {
    width: 10% !important;
    padding: 5px;
}

.profile .right {
    padding-left: 20px;
    width: 45%;
}


/* right */

.profile .right {
    width: 45%;
    padding-left: 20px !important;
}

.profile .right .row {
    display: flex !important;
    color: rgb(0, 0, 0) !important;
}

.profile .right .row h5 {
    font-size: 20px !important;
}

.profile .right .row .inside {
    width: 100% !important;
    padding-right: 5%;
    color: black !important;
}

.profile .right .row .inside .inside2 {
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    color: black !important;
    margin-top: -20px !important;
}

.profile .right .row .inside .inside2 .insideleft,
.insideright {
    width: 40% !important;
    color: black !important;
}

.profile .right .row .inside .inside2 #insideleft {
    width: 100% !important;
    color: black !important;
}

.profile .right .row .inside .inside2 .insideleft .mb-3 {
    width: 100% !important;
    justify-content: space-between !important;
    display: flex !important;
}

.profile .right .row .inside .inside2 .insideright .mb-3 {
    width: 100% !important;
    justify-content: space-between !important;
    display: flex !important;
}

.profile .right .row .inside .form-control {
    border: rgb(200, 200, 200) 1px solid !important;
}

.profile .right .row .inside .col {
    width: 10% !important;
}

.profile .right .row .inside .inside2 .insideleft .mb-3 img {
    width: 250px !important;
    height: auto;
    align-items: right !important;
}


/* 
.profile .right .row .inside #inside22 {
    background-color: red;
    display: flex;
    justify-content: space-between !important;
} */

.right #submit {
    background-color: #840f03;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer!important;
    float: right !important;
    font-weight: bolder;
}

.save {
    display: flex !important;
    justify-content: flex-end !important;
    padding-left: 5%;
}

.save1 {
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 2%;
}

.save .btn {
    background-color: #f5c62c;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer!important;
    font-weight: bolder;
}

.save .btn:hover {
    background-color: #ecd17b;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.save1 .next {
    background-color: #e12702;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer!important;
    font-weight: bolder;
}

.save1 .next:hover {
    background-color: #ec755e;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}

.filing {
    display: flex !important;
    margin-left: 50px !important;
    font-size: 20px !important;
}

.filing a {
    color: #0123ff !important;
    font-weight: 600 !important;
}





/* Default layout when sidebar is open */

.wrapper {
    display: flex;
}

.adminnav {
    width: 250px;
    transition: all 0.3s ease;
}

.main {
    flex: 1;
    transition: all 0.3s ease;
}


/* Sidebar hidden */

.wrapper.sidebar-closed .adminnav {
    width: 0;
    overflow: hidden;
}

.wrapper.sidebar-closed .main {
    flex: 1 1 100%;
}
.main nav {
    display: flex;
    align-items: flex-end !important;
}

/* end */


