@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    margin-left: 260px;
    min-height: 100vh;
    width: 95%;
    overflow: hidden;
    background-color: #ffffff;
    overflow-y: scroll !important;
}

.main nav {
    display: flex;
    align-items: flex-end !important;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh !important;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.75rem;
    color: #000;
    font-weight: 1000;
}

.navbar {
    padding: 1.15rem 1.5rem;
    border-bottom: 2px dashed #b3a8a8;
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a {
    color: #FFF;
    font-weight: 800;
    font-size: 1.5rem;
}

.sidebar-header {
    color: #FFF;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    position: relative;
    transition: all 0.35s;
    display: block;
    font-size: 1.25rem;
}

a.sidebar-link:hover {
    background-color: #f9f6f630;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


/* Screen size less than 768px */

@media (max-width:768px) {
    .sidebar-toggle {
        margin-left: -264px;
    }
    #sidebar.collapsed {
        margin-left: 0;
    }
}

.profile {
    width: 100%;
    height: auto !important;
    background-color: #ffffff !important;
    border-radius: 5px;
    display: block;
    justify-content: space-between !important;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
}

.profile1 {
    width: 100%;
    height: auto !important;
    background-color: #ffffff !important;
    border-radius: 5px;
    display: block;
    justify-content: space-between !important;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
}

#fluid {
    display: block;
}

.profile2 {
    width: 45%;
    height: auto !important;
    background-color: #881313 !important;
    border-radius: 5px;
    display: block;
    justify-content: space-between !important;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 23px -6px rgba(0, 0, 0, 1);
}

.profile1 .left {
    width: 50%;
}

.profile .left .row {
    display: flex !important;
    color: rgb(0, 0, 0) !important;
}

.profile .left .row h5 {
    font-size: 20px !important;
}

.profile .left .row .inside {
    width: 100% !important;
    padding-left: 5%;
    padding-right: 5%;
    color: black !important;
}


/* right */

.profile .right {
    width: 47%;
}

.profile .right .row {
    display: flex !important;
    color: rgb(0, 0, 0) !important;
}

.profile .right .row h5 {
    font-size: 20px !important;
}

.profile .right .row .inside {
    width: 100% !important;
    color: black !important;
}


/* table button */

.tbtn {
    width: 100px !important;
}

.table {
    outline: rgb(207, 207, 207) !important;
    width: 100% !important;
    border-radius: 20% !important;
}

.thead1 {
    background-color: rgb(8, 78, 2) !important;
    color: white !important;
}


/* modal css */

#add {
    background-color: rgb(8, 78, 2) !important;
    border-radius: 10px;
}


/* CSS */

.inside #add {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 20%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.inside #add:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
    .inside #add {
        padding: 1rem 2rem;
    }
}

.tbtn {
    display: flex;
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.tbtn:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

.tbtn:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.tbtn:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.tbtn:disabled:active {
    pointer-events: none;
}

.tbtn:disabled:hover {
    box-shadow: none;
}

.profile #submit {
    background-color: #840f03;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer!important;
    font-weight: bolder;
    align-items: right !important;
    margin-left: 92% !important;
}